extends layout

block content
  <h3>Crear entrada</h3>

  <form class="form-group" id="f-hora" action="/create" method="post">
  <div class="form-group">
  <div class="form-group">
  <label for="titulo">Titulo</label>
  <input type="text" name="titulo" value="">
  <input type="hidden" name="st" value=#{sessionToken}>
  </div>
  <div class="form-group">
  <label for="fab">Fabricante</label>
  <select class="browser-default" name="fab" id="fab" required>
  <option value="" disabled selected>Seleccione el fabricante</option>
  if fabsd
    each fab, id in fabsd
      option(value=id) #{fab}
  </select>
  <br>
  </div>
  <div class="form-group">
  <label for="tec">Tecnología</label>
  <select class="browser-default" name="tec" id="tec" required>
  <option value="" disabled selected>Seleccione la tecnología</option>
  if tecsd
    each tec, id in tecsd
      option(value=id) #{tec}
  </select>
  <br>
  </div>
  <div class="form-group">
  <label for="mod">Modelo/s</label>
  <input type="text" value="" name="mod" required>
  </div>
  <div class="form-group">
  <label for="area">Area</label>
  <select class="browser-default" id="area" name="area" required>
  <option value="" disabled selected>Seleccione el área</option>
  if areasd
    each area, id  in areasd
      option(value=id) #{area}
  </select>
  <br>
  </div>

  <div class="form-group">
  <label for="sint">Sintoma/Diagnostico</label>
  <textarea class="materialize-textarea" type="text" value="" name="sint" cols="3" required></textarea>
  </div>

  <div class="form-group">
  <label for="caus">Causa</label>
  <textarea class="materialize-textarea" type="text" value="" name="caus" cols="3" required></textarea>
  </div>

  <div class="form-group">
  <label for="solu">Solucion</label>
  <textarea class="materialize-textarea" type="text" value="" name="solu" cols="3" required></textarea>
  </div>
  <br>
  <div class="file-field input-field">
  <div class="light-blue darken-4 waves-effect waves-light btn">
  <span>Adjuntos</span>
  <input type="file" name="files" id="files" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf, image/png, application/msword, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/csv, text/plain, image/jpeg, image/gif" >
  </div>
  <div class="file-path-wrapper">
  <input class="file-path validate" type="text" placeholder="Upload one or more files" id="txt" >
  <input type="hidden" name="att" id="att" >
  </div>
  <a class="waves-effect waves-teal btn-flat" id="btn-delfile"><i class="material-icons left">delete</i></a>
  </div>

  <button type="submit" class="light-blue darken-4 waves-effect waves-light btn" >Crear registro</button>
  </div>

  </form>
  

block script
  if msg
      script(type='text/javascript').
        var id = #{id};
        Materialize.toast('#{msg}', 3000, 'rounded',function(){
          if (id)
            window.location= "/register?st=#{sessionToken}&id=#{id}"});
  
  script(src='/javascripts/create.js')
  
