extends layout

block content
  <div id= "c-detalle" class="card light-blue darken-4">
  <div class="card-content white-text">
  <a class="right white-text" href="javascript:void(0)" id="bt-del"><i class="material-icons">delete</i></a>
  <a class="right white-text" href="javascript:void(0)" id= "bt-edit"><i class="material-icons">edit</i></a>
  <a class="right white-text" href="javascript:void(0)" id="bt-exp"><i class="material-icons">picture_as_pdf</i></a> 
  <span class="card-title" id="sp-titulo">#{reg.tit}</span>
  <p id="sp-fab">Fabricante: #{reg.fab}</p>
  <p id="sp-tec">Tecnología: #{reg.tec}</p>
  <p id="p-modelo">Modelo: #{reg.mod}</p>
  <p id="p-version">Versión: #{reg.ver}</p>
  <p id="p-linkf">Link de la KB del fabricante: <a href="#{reg.linkf}">#{reg.linkf}</a></p>
  <p id="p-usuario">Usuario Creador: #{reg.usr}</p>
  
  <div id="buttons">
   if attsarr
    each att in attsarr
      <p id="p-adjunto">Adjuntos: #{reg.atta}</p>
      a(class="white-text" href=att.href) <i class="material-icons">file_download</i>
  </div>
  </div>
  <div class="card-tabs">
  <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test4">Síntoma</a></li>
  <li class="indicator" style="right: 0px; left: 238px;"></li></ul>
  <div class="card-content blue lighten-5">
  <div id="test4">!{reg.sint}</div>
  </div>
  </div>
  <div class="card-tabs">
  <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test5">Causa</a></li>
  <li class="indicator" style="right: 0px; left: 238px;"></li></ul>
  <div class="card-content blue lighten-5">
  <div id="test5">!{reg.caus}</div>
  </div>
  </div>
  <div class="card-tabs">
  <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test6">Solución</a></li>
  <li class="indicator" style="right: 0px; left: 238px;"></li></ul>
  </div>
  <div class="card-content blue lighten-5">
  <div id="test6">!{reg.solu}</div>
  </div>
  
  <div class="card-content blue lighten-5">
  <div id="test4"><p> </p></div>
  </div>
  </div>
  

  <!----EDITAR REGISTRO-->

  <form class="form-group"id="f-editReg" action="/edit" method="post">
  <h3>Editar Registro</h3>
  <div class="form-group">
  <div class="form-group">
  <label for="titulo">Título</label>
  <input type="text" name="titulo" value="#{reg.tit}" required>
  <input type="hidden" name="st" value=#{sessionToken}>
  <input type="hidden" name="id" value=#{id}>
  </div>
  <div class="form-group">
  <label for="fab">Fabricante</label>
  <select class="browser-default" name="fab" id="fab" value="#{reg.fabid}" required>
  <option  disabled>Seleccione el fabricante</option>
  if fabsd
    each fab, id in fabsd
      option(value=id) #{fab}
  </select>
  <br>
  </div>
  <div class="form-group">
  <label for="tec">Tecnología</label>
  <select class="browser-default" name="tec" id="tec" value="#{reg.tecid}" required>
  <option  disabled>Seleccione la tecnología</option>
  if tecsd
    each tec, id in tecsd
      option(value=id) #{tec}
  </select>
  <br>
  </div>
  <div class="form-group">
  <label for="mod">Modelo</label>
  <input type="text" value="#{reg.mod}" name="mod">
  </div>
  <div class="form-group">
  <label for="mod">Versión</label>
  <input type="text" value="#{reg.ver}" name="ver">
  </div>
  <div class="form-group">
  <label for="linkf">Link KB del Fabricante</label>
  <input type="text" value="#{reg.linkf}" name="linkf">
  </div>

  <div class="form-group">
  <label for="sint"><strong>Síntoma/Diagnóstico</strong></label>
    <input name="sint" id="sint" type="hidden">
    <div id="editorSint">
    </div>
  </div>

  <br>
  <div class="form-group">
  <label for="caus">Causa</label>
    <input name="caus" id="caus" type="hidden">
    <div id="editorCaus">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="solu">Solucion</label>
    <input type="hidden" name="solu" id="solu">
    <div id="editorSolu">
    </div>
  </div>
  <br>

  <button type="submit" class="light-blue darken-4 waves-effect waves-light btn" name="button" id="bt-editar" >Guardar Cambios</button> <button type="button" class="light-blue darken-4 waves-effect waves-light btn" name="button" id="bt-cancelar" >Cancelar</button>
  </div>
  <br>

  </form>

block script
  script(src='/javascripts/register.js')
  script(src='/javascripts/tinymce/tinymce.min.js')
  if reg
    script(type='text/javascript').
      $('#tec').val(#{reg.tecid});
      $('#fab').val(#{reg.fabid});
      $('#area').val(#{reg.areaid});
  if id
    script(type='text/javascript').
      $('#bt-del').click(function(){
        var $toastContent = $('<span>¿Deseas borrar el contenido?</span>').add($('<a href="/delete?st=#{sessionToken}&id=#{id}" class="btn-flat toast-action">Si</a><button class="btn-flat toast-action" onclick="toast.remove()">No</button>'));
        toast = Materialize.toast($toastContent, 10000, 'rounded');
        });
  if msg
      script(type='text/javascript').
        var id = #{id};
        Materialize.toast('#{msg}', 1500, 'rounded',function(){
          if (id)window.location= "/register?st=#{sessionToken}&id=#{id}"});
          
  script(type='text/javascript').
    tinymce.init({
      selector: '#editorSint',
      plugins: "textcolor colorpicker lists",
      setup: function (editor) {
        editor.on('init', function (e) {
          st = `#{reg.sint}`;
          st = st.replace('http://basedeconocimiento/','data:image/png;base64,');
          sint = $("<div />").html(st).text();
          this.setContent(sint);
          $('#sint')[0].value = this.getBody().innerHTML;
        });
      },
      init_instance_callback: function (editor) {
        editor.on('Change', function (e) {
          $('#sint')[0].value = this.getBody().innerHTML;
        });
      },
      images_dataimg_filter: function(img) {
        return img.hasAttribute('internal-blob');
      },
      toolbar: "bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, bullist, numlist, fontsizeselect, outdent, indent, blockquote, undo, redo, removeformat, subscript, superscript, forecolor backcolor"
    });
    tinymce.init({
      selector: '#editorCaus',
      plugins: "textcolor colorpicker lists",
      setup: function (editor) {
        editor.on('init', function (e) {
          st = `#{reg.caus}`;
          st = st.replace('http://basedeconocimiento/','data:image/png;base64,');
          caus = $("<div />").html(st).text();
          this.setContent(caus);
          $('#caus')[0].value = this.getBody().innerHTML;
        });
      },
      init_instance_callback: function (editor) {
        editor.on('Change', function (e) {
          $('#caus')[0].value = this.getBody().innerHTML;
        });
      },
      images_dataimg_filter: function(img) {
        return img.hasAttribute('internal-blob');
      },
      toolbar: "bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, bullist, numlist, fontsizeselect, outdent, indent, blockquote, undo, redo, removeformat, subscript, superscript, forecolor backcolor"
    });
    tinymce.init({
      selector: '#editorSolu',
      plugins: "textcolor colorpicker lists",
      setup: function (editor) {
        editor.on('init', function (e) {
          st = `#{reg.solu}`;
          st = st.replace('http://basedeconocimiento/','data:image/png;base64,');
          solu = $("<div />").html(st).text();
          this.setContent(solu);
          $('#solu')[0].value = this.getBody().innerHTML;
        });
      },
      init_instance_callback: function (editor) {
        editor.on('Change', function (e) {
          $('#solu')[0].value = this.getBody().innerHTML;
        });
      },
      images_dataimg_filter: function(img) {
        return img.hasAttribute('internal-blob');
      },
      toolbar: "bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, bullist, numlist, fontsizeselect, outdent, indent, blockquote, undo, redo, removeformat, subscript, superscript, forecolor backcolor"
    });
