extends layout

block content
  <form class="form-group " id="f-buscar" action="javascript:void(0)" method="post">
  <div class="form-group">
  <label for="keyword">Búsqueda</label>
  <input type="text" name="" value="" id="keyword">
  </div>

  <div class="switch">
  <label for="check2">Filtrar por fabricante&nbsp;</label>
  <label>
  <input type="checkbox" id="check2">
  <span class="lever "></span>
  </label>

  </div>

  <div class="form-group" id="div-fab">
  <br>
  <label for="fab">Fabricante</label>
  <select class="browser-default" id="fab" required>
  <option value="" disabled selected>Seleccione el fabricante</option>
  if fabsd
    each fab, id in fabsd
      option(value=id) #{fab}
  </select>
  <br>
  </div>

  <div class="switch">
  <label for="check">Filtrar por tecnología</label>
  <label>
  <input type="checkbox" id="check">
  <span class="lever "></span>
  </label>
  </div>

  <div class="form-group" id="div-tec">
  <br>
  <label for="tec">Tecnología</label>
  <select class="browser-default" id="tec" required>
  <option value="" disabled selected>Seleccione la tecnología</option>
  if tecsd
    each tec, id in tecsd
      option(value=id) #{tec}
  </select>
  <br>
  </div>

  <br>
  <button type="submit" class="btn btn-primary light-blue accent-4" name="button" id="bt-buscar" ><i class="material-icons">search</i></button>
  </form>
  <table id="table" class="responsive-table">
  <thead>
  <tr>
  <th>Título</th>
  <th>Síntoma/Diagnóstico</th>
  <th>Fabricante</th>
  <th>Tecnología</th>
  <th>Modelo</th>
  <th>Versión</th>
  <th>Usuario Creador</th>
  </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
  </table>
  <a class="light-blue accent-4 waves-effect waves-light btn" id="bt-research">Volver a buscar</a>

block script
  script(src='/javascripts/jquery.soap.js')
  script(src='/javascripts/searchProd.js')
  if msg
      script(type='text/javascript').
        Materialize.toast('#{msg}', 3000, 'rounded');
